.container {
  background-color: #fafaff;
  width: 240px;
  margin: 0 auto;
  border: 2px solid #151515;
  color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.avatar {
  background-color: rgb(37, 36, 36);
  border-radius: 100%;
}

.name {
  font-weight: 900;
  margin-top: 8px;
  margin-bottom: 0;
}
.tag,
.location {
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 0;
  color: #5f5e5ea9;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 12px;
}
.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(165, 160, 160);
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  width: 79px;
  gap: 8px;
}
.list .listItem:nth-child(n + 3) {
  border-right: none;
}
.list .listItem:first-child {
 
  border-bottom-left-radius: 12px;
}

.list .listItem:last-child {
  border-bottom-right-radius: 12px;
}
